@import './variables';
@import './desktop';


*,
*::before,
*::after { 
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

// img {
//   width: 100%;
//   max-width: 100%;
// }

a {
  text-decoration: none;
}

li {
  list-style: none;
}


html {
  font-family: $mainFont;
  font-size: 14px;
  font-weight: normal;;
  scroll-behavior: smooth;
  color: $white;
    body {
      overflow-x: hidden;
      margin: 0;
      .hero_section{
        width: 100%;
        height: 782px;
        background: url("../images/Bg.jpeg") center no-repeat;
        background-size: cover;

        & .nav {
          display: flex;
          justify-content: space-around;
        }
        
        .headline-logo {
          text-transform: uppercase;
          font-size: 18px;
          line-height: 21.6px;
          padding: 58px 30px;
          color: $white;
          font-weight: 700;
        }
        .list {
          text-transform: uppercase;
          display: flex;
          max-width: 835px;
          color: $white;
          & li{
            list-style: none;
            padding: 58px 30px;
            line-height: 16,8px;
            & a {
              text-decoration: none;
              color: $white;
            }
          }
        }

        .hero_content {
          text-align: center;

          & h2 {
            position: absolute;
            width: 578px;
            height: 86px;
            left: 431px;
            top: 257px;
            font-size: 72px;
            text-transform: uppercase;
            line-height: 86,4px;
          }
            & h3 {
              position: absolute;
              width: 540px;
              height: 124px;
              left: 450px;
              top: 382px;
              font-size: 24px;
              line-height: 150%;
            }
              & a {
                position: absolute;
                width: 160px;
                height: 50px;
                left: 640px;
                top: 545px;
                background: #FFFFFF;
                border-radius: 6px;
                text-transform: uppercase;
                color: $button;
                line-height: 17px;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                justify-content: center;
              }
        }
          

      }

      .features_section {
        background-color: $background;
        height: 664px;
        & h2 {
          color:$black;
          text-align: center;
          text-transform: capitalize;
          font-size: 36px;
          line-height: 43px;
          padding: 63px;
        }
        .features_container {
          display: flex;
          justify-content: center;

        & .features_box {
          position: relative;
          width: 350px;
          height: 250px;
          background: url('../images/fature_1.jpeg');
          border-radius: 8px;
          margin:30px;
          & .featuers_description {
            position: absolute;
            left: 29px;
            top: 157px;
            width: 293px;
            height: 198px;
            background: #FFFFFF;
            box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            color: $black;
            text-align: center;
            & h2 {
              font-weight: bold;
              font-size: 18px;
              line-height: 22px;
              padding: 20px 32px;
            }
              & h3 {
                font-weight: normal;
                font-size: 12px;
                line-height: 150%;
                padding: 15px 32px;
              }
                & a {
                  color: $button;
                  font-weight: bold;
                  font-size: 12px;
                  line-height: 150%;
                }
            }
          }
        }
      }
    
     
    }
  

}



// .................

.tech_section {
  background-color: $white;
  height: 500px;
 
}
.tech_heading h2 {
  color: $black;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: capitalize;
  padding: 63px;
  
}

.tech_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech h2 {
  color:$black;
  text-align: center;
  text-transform: capitalize;
  font-size: 36px;
  line-height: 43px;
  padding: 63px;
  }
  .tech_box {
    width: 20%;
  }
  .tech_number {
    position: relative;
  }

.tech_description {
text-align: center;
color: $black;

}

.tech_description h2 {
font-size: 100px;
line-height: 120px;
padding: 20px 32px;
color: rgba(16, 16, 16, 0.08);
}

.tech_description i {
position: absolute;
top:90px;
left:120px;
color: $button;
font-size: 47px;
}


.tech_description h3 {
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
padding: 10px;

}

.tech_description p {
  font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
}


@mixin featurebox($image) {
  position: relative;
  width: 350px;
  height: 250px;
  border-radius: 8px;
  margin:30px;

  background: {
    image: $image;
    repeat: no-repeat;
  }
}
 

.slider_container {
display: flex;
}


.slider_section {
  background-color: $button;
  height: 500px;
  width: 100%;
}
.slider_description {
  width: 40%;
  max-width: 445px;
  margin:122px 0px 0px 165px;
  
 
}

.slider_description h2{
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 43px;
padding-bottom: 24px;

}

.slider_description h3{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  padding-bottom: 24px;
}
.slider_animation{
  width: 60%;
  color: $white;
}

.slider_icons {
  color:$white;

}

.slider_icons img {
margin-right: 20px;
align-items: center;
width: 32px;

}

.slider_animation {
  margin: 94px;
}



.carousel {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  font-family: Arial;

  &__list {
    display: flex;
    list-style: none;
    position: relative;
    width: 100%;
    height: 300px;
    justify-content: center;
    perspective: 300px;
  }
  
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 0px;
    width: 445px;
    height: 311px;
    border-radius: 15px;
    position: absolute;
    transition: all .3s ease-in;

    &:nth-child(1) {
      background: url("../images/Video_bg_2.jpeg");
      background-size: cover;
    }
    &:nth-child(2) {
      background: url("../images/Video_bg.jpeg");
      background-size: cover;
    }
    &:nth-child(3) {
      background: url("../images/Video_bg_3.jpeg");
      background-size: cover;
    }

    &[data-pos="0"] {
      z-index: 5;
    }
    
    &[data-pos="-1"],
    &[data-pos="1"] {
      opacity: 0.5;
      filter: grayscale(90%);
    }
    
    &[data-pos="-1"] {
      transform: translateX(-14%) scale(.9);
      z-index: 4;
    }
    
    &[data-pos="1"] {
      transform: translateX(14%) scale(.9);
      z-index: 4;
    }

    .carousel__item_active {
      background: red;
    }
  }
}

